
.advantages {
  .font-style;
}

.advantages__text,
.advantages-list__text {
  .text-font;
}

.advantages__list,
.advantages__group {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__group {
  background-color: #ffffff;
}

.advantages__item {
  background-color: #eeeeee;
}

.advantages-list__text {
  .text-font-small;
  color: #333333;
}

.advantages-list__text--header {
  .header-font;
  color: #000000;
}

.advantages__item--1,
.advantages__item--2 {

  background-color: #81b3d2;
}

.advantages__item--1 .advantages-list__text,
.advantages__item--2 .advantages-list__text {
  color: #ffffff;
}

.advantages__item--1 .advantages-list__text--background-image {
  display: block;
  min-height: 340px;

  background-image: url(../../img/main-city-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.advantages__item--2 .advantages-list__text--background-image {
  display: block;
  min-height: 340px;

  background-image: url(../../img/main-bridge-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.advantages-group__title {
  .header-font;
  color: #000000;
}

.advantages-group__text {
  .text-font-small;
  color: #333333;
}
