.advantages-group {
  padding-top: 21px;
  padding-bottom: 23px;
}

.advantages-group__item {
  position: relative;

  width: 87.5%;
  .margin-center;
}

.advantages-group__title {
  margin: 0;
  padding-top: 14px;
  padding-left: 50px;

  .font(18px, 26px, 800);
  color: @black;
}

.advantages-group__text {
  padding-left: 50px;

  .font(14px, 21px, 400);
  color: @gray;
}

.advantages-group__image {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;

  fill: @blue;
}

@media (min-width: @tablet-width) {
  .advantages-group {
    display: flex;
    justify-content: space-around;

    text-align: center;
  }

  .advantages-group__item {
    width: 30%;
    padding-top: 138px;
    padding-bottom: 24px;

    &--last {
      order: 1;
    }
  }

  .advantages-group__title {
    padding-top: 0;
    padding-left: 0;

    .font(21px, 26px, 800);
  }

  .advantages-group__text {
    width: 68%;
    .margin-center;
    padding-top: 7px;
    padding-left: 0;

    &--last {
      width: 72%;
    }
  }

  .advantages-group__image {
    position: absolute;
    content: "";
    top: 38px;
    left: 50%;

    height: 73px;
    width: 73px;

    transform: translateX(-50%);
  }
}

@media (min-width: @desktop-width) {
  .advantages-group__item {
    padding-bottom: 45px;
  }

  .advantages-group__text {
    width: 80%;

    &--small {
      display: block;
      padding-top: 0;
    }
  }
}
