.advantages {
  .margin-center;
}

.advantages__group {
  background-color: @white;
}

.advantages__list,
.advantages__group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  .margin-center;

  list-style: none;
}

.advantages__text {
  width: 81.25%;
  .margin-center;
  padding-top: 16px;
  padding-bottom: 14px;

  .font(14px, 24px, 400);
  text-align: center;
  color: @gray;
}

@media (min-width: @tablet-width) {
  .advantages__text {
    line-height: 26px;
  }
}
