.advantages-list {
  position: relative;
  padding-top: 16px;
}

.advantages-list__item {
  flex-grow: 1;

  margin: 0;
  padding: 0;
  background-color: @blue;
}

.advantages-list__item--gray {
  background-color: #eeeeee;
  padding-top: 17px;
  padding-bottom: 29px;
}

.advantages-list__text-container {
  padding-top: 30px;
  padding-bottom: 40px;
}

.advantages-list__text {
  width: 80%;
  margin: 0 auto;
  padding-top: 9px;

  .font(14px, 21px, 400);
  text-align: center;

  &--header {
    .font(18px, 26px, 800);
    color: @black;
  }

  &--number {
    color: @gray;
  }

  &--bottom {
    padding-top: 15px;

    color: @gray;
  }

  &--white {
    color: @white;
    width: 84%;
  }
}

.advantages-list__image {
  width: 320px;
  height: 260px;
}

@media (max-width: @mobile-width) {
  .advantages-list::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;

    border-top: 16px solid @white;
    border-left: 160px solid @blue;
    border-right: 160px solid @blue;
    transform: translateX(-50%);
  }
}

@media (min-width: @tablet-width) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;

    padding-top: 20px;
  }

  .advantages-list__item {
    &--small {
      width: 30%;
    }

    &--gray {
      padding-top: 30px;
      padding-bottom: 44px;
    }
  }

  .advantages-list__text-wrapper {
    display: flex;
  }

  .advantages-list__text-container {
    width: 33.4%;

    &--order-2 {
      order: 2;
    }
  }

  .advantages-list__text {
    &--white {
      width: 65%;
      padding-top: 15px;
    }

    &--header {
      width: 58.5%;
      padding-top: 15px;
      .font(21px, 26px, 800);
    }

    &--number {
      padding-top: 9px;
    }

    &--bottom {
      padding-top: 22px;
    }

    &--gray {
      width: 65%;
    }

    &--gray-slim {
      width: 56%;
    }
  }

  .advantages-list__image {
    width: 67%;
    max-width: 100%;
    height: 255px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-list__item {
    &--small {
      width: 400px;
    }

    &--gray {
      padding-top: 23px;
      padding-bottom: 65px;
    }
  }

  .advantages-list__text-wrapper {
    display: flex;
  }

  .advantages-list__text {
    &--header {
      padding-top: 22px;
      width: 38%;

      .font(21px, 26px, 800);
    }

    &--header-top {
      display: block;
      padding-top: 0;

      font: inherit;
    }

    &--bottom {
      width: 68%;
    }

    &--small {
      width: 55%;
    }
  }

  .advantages-list__item--3 .advantages-list__text--bottom {
    width: 80%;
  }


  .advantages-list__image {
    width: 800px;

    &--1 {
      background-image: url("../img/main-city-desktop@1x.jpg");
    }

    &--2 {
      background-image: url("../img/main-bridge-desktop@1x.jpg");
    }
  }
}
