.advantages {
  .margin-center;
}
.advantages__group {
  background-color: @white;
}

.advantages__list,
.advantages__group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.advantages__text {
  min-height: 80px;
  .font(14px, 24px, 400);
  text-align: center;
  color: @gray;
}
