.banner {
  position: relative;
  top: 52px;
  left: 50%;

  width: 768px;
  height: 216px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  z-index: -1;

  transform: translate(-50%, 0%);

  &--index {
    top: 56px;

    height: 446px;
  }
}

.banner__img {
  position: absolute;
  top: 90px;
  left: 50%;

  transform: translate(-50%, 0%);

  &--index {
    top: 90px;

    height: 215px;
  }
}
