.banner {
  width: 768px;
  height: 216px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  z-index: -1;

  &--index {
    height: 446px;
  }
}

.banner__img--index {
  height: 215px;
}
