.form__title {
  .font(18px, 26px, 800);
}

.form__text {
  .font(14px, 24px, 400);
  color: #333333;
}

.form__group {
  border: none;
}

.form__group-title {
  .font(18px, 26px, 800);
}

.form__item-label {
  .font(14px, 26px, 400);
  color: #333333;
}

.form__item-input,
.form__item-textarea {
  .font-global;
  text-transform: none;
  .font(18px, 26px, 800);
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.form__item-input::placeholder,
.form__item-textarea::placeholder {
  .font-global;
  text-transform: none;
  .font(18px, 26px, 800);
  color: #000000;
}
