.gallery__title {
  padding-top: 22px;

  .font(18px, 26px, 800);
  text-align: center;
  color: @black;
}

.gallery__text {
  width: 85%;
  .margin-center;
  padding-top: 11px;
  padding-bottom: 11px;

  .font(14px, 24px, 400);
  text-align: center;
  color: @gray;
}

.gallery__list {
  width: 100%;
  .margin-center;
  padding: 0;
  list-style: none;
}

.gallery__video-title {
  padding-top: 17px;

  .font(18px, 26px, 800);
  text-align: center;
}

.gallery__video-text {
  width: 80%;
  .margin-center;
  padding-top: 11px;
  padding-bottom: 21px;

  .font(14px, 24px, 400);
  text-align: center;
  color: @gray;
}

@media (max-width: @mobile-width) {
  .gallery__list {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;

    width: 84.5%;
  }

  .gallery__title {
    padding-top: 50px;

    .font(30px, 26px, 800);
  }

  .gallery__text {
    width: 58%;
    padding-top: 5px;
    padding-bottom: 53px;
  }

  .gallery__video {
    width: 84.5%;
    .margin-center;
    padding-top: 9px;
  }

  .gallery__video-title {
    .font(30px, 26px, 800);
  }

  .gallery__video-text {
    width: 66%;
    padding-top: 5px;
    padding-bottom: 57px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    width: @desktop-width;
  }

  .gallery__title {
    padding-top: 83px;
  }

  .gallery__text {
    width: 37%;
  }

  .gallery__video-title {
    padding-top: 21px;
  }

  .gallery__video-text {
    width: 43%;
  }
}
