.gallery {
  .font-style;
}

.gallery__title {
  padding-top: 44px;

  .font(18px, 26px, 800);
}

.gallery__text {
  .font(14px, 24px, 400);
  color: #333333;
}

.gallery__list {
  list-style: none;
}

.gallery__video-title {
  .font(18px, 26px, 800);
}

.gallery__video-text {
  .font(14px, 24px, 400);
  color: #333333;
}
