.menu-toggle {
  position: relative;
  display: block;
  width: 63px;
  height: 56px;
  margin-left: auto;

  background-color: @white;
  border: none;
}

.menu-toggle__icon {
  fill: @blue;

  &--cross {
    position: absolute;
    content: "";
    right: 2px;
    top: -227px;

    fill: @white;
    border: 18px solid transparent;
  }
}

.menu-toggle__text {
  .visually-hidden;
}

@media (min-width: @tablet-width) {
  .menu-toggle {
    .visually-hidden;
  }
}
