.order {
  .font-style;
}

.order__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  color: #000000;
}

.order__text {
  .text-font-24;
  color: #333333;
}

.order__button {
  display: block;

  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;

  background-color: #81b3d2;
}
