.order__title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;

  .font(21px, 26px, 800);
  text-align: center;
  color: @black;
}

.order__text {
  width: 84%;
  .margin-center;
  padding-bottom: 21px;

  .font(14px, 24px, 400);
  text-align: center;
  color: @gray;
}

.order__button {
  display: block;

  width: 88%;
  .margin-center;
}

.order__map {
  position: relative;

  display: block;
  .margin-center;
  padding-top: 49px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    z-index: 10;

    display: block;
    height: 27px;
    width: 27px;

    background-image: url("../img/icon-map-marker.svg");
    transform: translate(-50%, -50%);
  }
}

@media (min-width: @tablet-width) {
  .order {
    padding-top: 30px;
  }

  .order__text {
    width: 60%;
    padding-top: 11px;
    padding-bottom: 28px;

    &--top {
      display: block;

      width: auto;
      padding: 0;
    }
  }

  .order__map-container {
    width: 100%;
    max-width: 100%;
  }

  .order__map {
    width: auto;
    max-width: 100%;
    padding-top: 60px;

    box-sizing: content-box;
  }

  .order__title {
    .font(30px, 26px, 800);
  }

  .order__button {
    width: 460px;
  }
}

@media (min-width: @desktop-width) {
  .order {
    min-height: 635px;
  }

  .order__text:not(.order__text--top) {
    padding-bottom: 33px;
  }

  .order__map {
    padding-top: 68px;
  }
}
