.page-main__title {
  min-width: 280px;
  min-height: 115px;
  .margin-center;

  .font(18px, 26px, 800);
  text-align: center;
  color: #000000;
}

.page-main__form-title {
  .visually-hidden;
}

.page-main__title--photo-gallery {
  .visually-hidden;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    .font(21px, 26px, 800);
  }
}
