.player {
  min-width: 320px;
}

.player__content {
  box-sizing: content-box;
  width: 100%;
  min-height: 280px;

  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.player__controls,
.player__slider {
  .visually-hidden;
}

@media (min-width: @tablet-width) {
  .player__content {
    height: 500px;
    background-image: url("../img/video-tablet@1x.jpg");
  }
}
