.player {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 195px;
  padding-bottom: 72px;
}

.player__image {
  position: absolute;
  top: 0;
  left: 0;

  width: auto;
  height: 201px;

  object-fit: cover;
}

.player__controls {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;

  width: 87.5%;

  transform: translateX(-50%);

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 45px, #f2f2f2 45px);
}

.player__scale {
  position: relative;

  width: 100%;
  height: 45px;

  &::before {
    position: absolute;
    content: "";
    top: 22px;
    left: 50%;

    width: 84%;
    height: 3px;

    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(-50%);
  }
}

.player__slider {
  position: relative;
  top: 9px;
  left: 52px;

  margin: 0;
  padding: 0;

  background-color: unset;
  border-radius: 50%;
  border: 11px solid transparent;

  &::after {
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;

    width: 9px;
    height: 9px;

    background-color: @white;
    border-radius: 50%;
  }
}

.player__control {
  width: 60px;
  height: 66px;
  margin: 0;

  background-color: unset;
  border: 0;

  &--replay {
    margin-right: auto;
  }
}

.player__icon {
  fill: #5c6870;
}

@media (max-width: @mobile-width) {
  .player__control:hover .player__icon {
    fill: @gray;
  }

  .player__control:active .player__icon {
    fill: rgba(51, 51, 51, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .player {
    height: 502px;
    margin: 0;
    padding-bottom: 0;
  }

  .player__controls {
    box-sizing: border-box;
    align-items: center;

    width: 100%;
    height: 92px;
    padding-right: 22px;


    background-image: none;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .player__scale {
    flex-grow: 1;

    width: auto;

    &::before {
      width: 99%;
    }
  }

  .player__control {
    &--replay {
      order: -1;

      width: 93px;
      height: 93px;
    }

    &--subtitles {
      padding: 0 43px;
    }
  }

  .player__icon {
    fill: @white;
  }
}

.player__control:hover .player__icon {
  fill: rgba(255, 255, 255, 0.6);
}

.player__control:active .player__icon {
  fill: rgba(255, 255, 255, 0.3);
}

@media (min-width: @desktop-width) {
  .player {
    width: 79%;
    height: 500px;
    .margin-center;
  }
}
