.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0;
  list-style: none;
}

.social__item {
  padding: 3px;
}

.social__link {
  position: relative;

  display: block;

  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active .social__icon {
    fill: rgba(255, 255, 255, 0.3);
  }

  &--twitter {
    width: 18px;
    height: 13px;
    padding: 17px 14px;
  }

  &--facebook {
    width: 8px;
    height: 12px;
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 19px;
  }

  &--youtube {
    width: 20px;
    height: 13px;
    padding: 17px 13px;
  }
}

.social__text {
  .visually-hidden;
}

.social__icon {
  fill: #ffffff;
}
